/* Google fonts import */

/* the template of importing a font file */
/* @import url('https://fonts.googleapis.com/css2?family=FontName'); */

@import url('https://fonts.googleapis.com/css2?family=Lemon');
@import url('https://fonts.googleapis.com/css2?family=Lato');

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap"); */









/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles */
    color: #0fc36c;
    font-family: 'Lato', Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    color: beige;
    background-color: black;
}

h1,
h2 {
    font-family: 'Lemon', sans-serif;
}

/* Main content */
main {
    background-color: rgb(231, 210, 24);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    color: beige;
    background-color: rgb(197, 13, 13);
}