 /* Google fonts import Lemon styles */
 @import url('https://fonts.googleapis.com/css2?family=Lemon');

 /* Google fonts import Lato styles */

 @import url('https://fonts.googleapis.com/css2?family=Lato');

 /* Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }



 /*General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     /*Generic project styles */
     color: #0fc36c;
     font-family: "Lato", sans-serif;
 }

 /* Header */
 header {
     color: beige;
     background-color: black;
     z-index: 91;
     width: 100%;
     padding: 0 1rem;
     position: fixed;
     box-shadow: 4px 4px 2px 1px rgb(34, 113, 224);
 }

 h1,
 h2 {
     font-family: "Lemon", sans-serif;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 #main_menu {
     list-style-type: none;
     letter-spacing: 2px;
     font-size: 112%;
 }

 #main_menu>li {
     margin-top: 1em;
     /* margin-bottom: 1em; */
 }

 .active_link {
     /* border: 1px solid rgb(34, 113, 224);
     border-radius: 5px; */
     box-shadow: 4px 4px 2px 1px rgba(230, 230, 14, 0.8);
 }



 header a {
     text-decoration: none;
     color: inherit;
     box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .8);
 }

 hr {
     color: rgb(34, 113, 224);
     size: 2px;
 }

 /* Navbar styles with dropdown toggle */
 nav {
     background-color: black;
     position: absolute;
     left: 0;
     width: 100%;

     display: none;
     top: 100%;
     padding: 0 1rem;
     /* box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .8); */
 }


 /* Main content */
 main {
     background-color: rgb(231, 210, 24);
     /* Make main element take up any surplus space to push footer down */
     flex: 1 0 auto;
 }

 /* Footer */
 footer {
     color: beige;
     background-color: rgb(34, 113, 224);
 }